html, body {
    margin: 0;
    padding: 0;
}

header {
    color: #fff;
    padding: 20px;
}

.past header {
    color: #000;
    text-align: center;
    font-size: 40px;
    padding-bottom: 0;
}

.speakers {
}

.speakers a {
    color: #fff;
    border-bottom: 1px dotted #fff;
}

.speakers a.btn {
    border-bottom: none;
    margin-top: 10px;
}

.speakers .col {
    text-align: center;
}